<h1>Listing students</h1>

<br>

<form>
  <%= form_tag(signin_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Shitheads" %> <br>
      <%= submit_tag "Search" %>
  <% end %>
</form>




<table class="table table-hover">
  <thead>

    <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Attendence</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @students.each do |student| %>

      <tr>
        <td> <%= image_tag student.avatar.url(:thumb) %> </td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <div class="submit_id">
        <td><%= button_to 'sign-in', checkins_path, method: :post, :params => {"checkin[student_id]" => student.id } %></td>
         </div>
        <td><%= student.checkins.count    %></td>
      </tr>
  <% end %>





  </tbody>
</table>

<br>

<%= will_paginate @students %>



