<h1>Listing students</h1>

<br>

<form>
  <%= form_tag(signin_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Shitheads" %> <br>
      <%= submit_tag "Search" %>
  <% end %>
</form>


<table class="table table-striped">
  <thead>
  <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Attendence</th>
  </tr>
  </thead>
  <tbody>


    <% @students.each do |student| %>

      <% onedaylater =  student.checkins.last.created_at.to_date + 1 %>
      <% now =  Time.now %>

      <tr>
        <td> <%= image_tag student.avatar.url(:thumb) %> </td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <% if now < onedaylater %>
        <div class="submit_id">
        <td><%= button_to 'sign-in', checkins_path, method: :post, :params => {"checkin[student_id]" => student.id }, :class => 'btn btn-mini btn-danger test1 ' %></td>
        </div>
        <% else %>
        <div class="submit_id">
          <td><%= button_to 'sign-in', checkins_path, method: :post, :params => {"checkin[student_id]" => student.id }, :class => 'btn btn-mini btn-danger' %></td>
        </div>
        <% end %>
        <td><%= student.checkins.count    %></td>
      </tr>
  <% end %>





  </tbody>
</table>

<br>

<%= will_paginate @students %>



